[Oo]bj/
[Bb]in/
*.xap
*.user
*.suo
*.cache
_ReSharper.*
*.csproj.user
*[Rr]e[Ss]harper.user
packages/*
artifacts/*
*.vsp
*.pidb
*.userprefs
*DS_Store
*.ncrunchsolution
*.log
*.vspx
/.symbols
README.html