[Oo]bj/
[Bb]in/
*.xap
*.user
*.suo
*.cache
_ReSharper.*
*.csproj.user
*[Rr]e[Ss]harper.user
packages/*
artifacts/*
*.vsp
*.pidb
*.userprefs
*DS_Store
*.ncrunchsolution
*.log
*.vspx
README.html
*.sdf
*.ipch
*.opensdf
/Debug
/src/.symbols
/TestResults
/lib/roslyn/*.nupkg
build/
*net45.csproj
*k10.csproj
.nuget/