[Oo]bj/
[Bb]in/
TestResults/
.nuget/
_ReSharper.*/
/packages
artifacts/
PublishProfiles/
*.user
*.suo
*.cache
*.docstates
_ReSharper.*
nuget.exe
*.psess
*.vsp
*.pidb
*.userprefs
*DS_Store
*.ncrunchsolution
*.*sdf
*.ipch
*.aps
/KRuntime.sln.ide
/*.vspx
*.metaproj*
debugSettings.json
project.lock.json

# Profiler result files, just in case they are left lying around :)
/.vs/
