[submodule "submodules/FileSystem"]
	path = submodules/FileSystem
	url = https://github.com/aspnet/FileSystem.git
[submodule "submodules/Logging"]
	path = submodules/Logging
	url = https://github.com/aspnet/Logging
[submodule "submodules/NuGet"]
	path = submodules/NuGet
	url = https://github.com/NuGet/NuGet3
