###############################################################################
# Set default behavior to automatically normalize line endings.
###############################################################################
*.cs text eol=lf
*.cs diff=csharp
